<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/head :: otherHead('/css/join-success.css')}">

</head>
<body>
  <!-- HEADER -->
  <div th:replace="~{fragment/header :: baseHeader}"></div>

  <section class="join-success">

    <div class="inner">
      <div class="title">
        <span>MyLog</span>
      </div>

      <div>
        <div class="regist">
          <div class="box">약관동의</div>
          <div class="box">정보입력</div>
          <div class="box active">가입완료</div>
        </div>
    
        <div class="line">
          <div class="step"></div>
          <div class="step"></div>
          <div class="step active"></div>
        </div>
      </div>

      <div class="complete">
        <div style="color: #D67747;" class="material-icons">check</div>
        <div class="box">
          <p>회원가입이 완료되었습니다.</p>
          <p>MyLog에 가입하신 것을 환영합니다.</p>
          <div class="button-group">
            <a href="/mylog.com" th:href="@{/}">홈으로</a>
            <a href="/mylog.com/user/login" th:href="@{/user/login}">로그인</a>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- FOOTER -->
  <div th:replace="~{fragment/footer :: blogFooter}"></div>

</body>
</html>