<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragment/head :: otherEditorHead('./css/edit.css')}">

</head>
<body>

  <!-- HEADER -->
  <div th:replace="~{/fragment/header :: blogHeader ('블로그타이틀')}"></div>


  <!-- post -->
  <section class="detail">
    <div class="inner">
      <form>
        <div class="head">
          <div class="category">
            <span>Category</span>
            <select name="" id="" class="choose">
              <option value="">카테고리1</option>
              <option value="">카테고리2</option>
            </select>
          </div>
          <div class="title">
            <input type="text" name="" id="" placeholder="제목을 입력하세요.">
          </div>

        </div>
  
        <div class="content">
          <div id="ckeditor" class="text"></div>
        </div>

        <div class="change">
          <div class="btn-group">
            <button class="cancel">취소</button>
            <button class="modify">수정</button>
          </div>
        </div>
      </form>

    </div>
  </section>

  <script>
    // function resize(obj) {
    //   obj.style.height = "auto";
    //   obj.style.height = (12 + obj.scrollHeight)+"px";
    // }

    ClassicEditor
            .create( document.querySelector('#ckeditor'), {
              ckfinder: {
                uploadUrl : '/image/upload'
              },
              alignment: {
                options: [ 'left', 'center', 'right' ]
              }
            })
            .then(editor => {
              window.ckeditor = editor;
              console.log(editor);
            })
            .catch(error => {
              console.error( error );
            });
  </script>
</body>
</html>