<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragment/head :: otherHead('/css/myblog.css')}">

</head>
<body>
  <!-- HEADER -->
  <div th:replace="~{/fragment/header :: blogHeader}"></div>


  <!-- post -->
  <section class="post">
    <div class="inner">
      <div class="head">
        <div class="total">
          <span>전체 글</span>
        </div>
        
        <div class="search">
          <form action="" th:action="@{/blog/main}">
            <input type="text" name="search"/>
            <button>
              <span class="material-icons">search</span>
            </button>
          </form>
        </div>
      </div>

      <div class="board-wrap">

        <div class="board" th:each="post : ${posts}">
          <a href="javascript:void(0)" th:href="@{/blog/{postNum} (postNum=${post.id})}">
            <div class="list">
              <div class="title">
                <div class="top" th:text="${post.title}">[Thymeleaf] 타임리프 정리</div>
                <div class="date" th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}">2020-02-02</div>
              </div>
            </div>

            <div class="board-img">
              <img class="post-img" src="./img/main/slide2.jpg" th:src="@{/img/main/slide2.jpg}"/>
            </div>
          </a>
        </div>
      </div>

      <div class="page" th:if="${!posts.isEmpty()}">
        <div class="material-icons" th:if="${pagination.startPage > 1}">
          <a href="" th:href="@{/blog/main(page=${pagination.startPage - 1}, search=${search})}">first_page</a>
        </div>
        <div class="material-icons" th:if="${pagination.startPage <= 1}">
          <span style="cursor: pointer" onclick="alert('이전 페이지가 없습니다.')">first_page</span>
        </div>

        <ul>
          <li th:each="page : ${#numbers.sequence(pagination.startPage, pagination.endPage)}">
            <a href="javascript:void(0)"
               th:href="@{/blog/main(page=${page}, search=${search})}"
               th:text="${page}"
               th:classappend="${page == pagination.page} ? 'blue' : ''">
              1
            </a>
          </li>

        </ul>
        <div class="material-icons" th:if="${pagination.startPage + 5 <= pagination.totalPage}">
          <a href="" th:href="@{/blog/main(page=${pagination.endPage + 1}, search=${search})}">last_page</a>
        </div>
        <div class="material-icons" th:if="${pagination.startPage + 5 > pagination.totalPage}">
          <span style="cursor: pointer" onclick="alert('다음 페이지가 없습니다.')">last_page</span>
        </div>
      </div>

    </div>
  </section>


  <!-- FOOTER -->
  <div th:replace="~{/fragment/footer :: blogFooter}"></div>

</body>
</html>