<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/head :: otherEditorHead('/css/regist.css')}">

</head>
<body>
  <!-- HEADER -->
  <div th:replace="~{fragment/header :: blogHeader}"></div>


  <!-- post -->
  <section class="detail">
    <div class="inner">
      <form action="" th:action="@{/blog/register}" method="post" th:object="${postSaveRequest}">
        <div class="head">
          <div class="category">
            <span>Category</span>
            <select name="categoryId" th:field="*{categoryId}" class="choose" th:if="${categories != null}">
              <option th:each="category : ${categories}"
                      th:text="${category.name}"
                      th:value="${category.id}">
                카테고리1
              </option>
            </select>
          </div>
          <div class="title">
            <input type="text" name="title" th:field="*{title}" id="" placeholder="제목을 입력하세요.">
            <div class="title-error" th:errors="*{title}"></div>
            <div class="content-error" th:errors="*{content}"></div>
          </div>

        </div>
  
        <div class="content">
          <textarea id="ckeditor" class="text ckeditor" th:field="*{content}"></textarea>
        </div>

        <div class="change">
          <div class="btn-group">
            <button type="button" class="cancel" onclick="history.back()">취소</button>
            <button class="regist">등록</button>
          </div>
        </div>
      </form>

    </div>
  </section>

  <script>
    // function resize(obj) {
    //   obj.style.height = "auto";
    //   obj.style.height = (12 + obj.scrollHeight)+"px";
    // }

    ClassicEditor
    .create( document.querySelector('.ckeditor'), {
      ckfinder: {
        uploadUrl : '/image/upload'
      },
      alignment: {
        options: [ 'left', 'center', 'right' ]
      }
    })
    .then(editor => {
        window.ckeditor = editor;
        console.log(editor);
    })
    .catch(error => {
        console.error( error );
    });
  </script>
</body>
</html>