<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/head :: otherHead('/css/mypage-blog.css')}">

</head>
<body>
  <!-- HEADER -->
  <div th:replace="~{fragment/header :: blogHeader}"></div>


  <div class="mypage">
    <div class="inner">
      <div th:replace="~{fragment/menu :: subMenu}"></div>
  
      <div class="part">
        <div class="total">
          <span>* 블로그 관리</span>
        </div>
        <div class="first">
          

          <form action="" th:action="@{/user/mypage/blog}" method="post" th:object="${blogRequest}">
            <div class="blog-title">
              <div class="name">* 블로그명 </div>
              <input type="text" th:field="*{name}" value="나만의블로그" th:value="*{name}"/>
              <div class="name-error" th:errors="*{name}">블로그명 에러</div>
            </div>
            <div class="blog-nickname">
              <div class="nickname">* 닉네임 </div>
              <input type="text"
                     th:field="*{nickname}" value="RadiantK"
                     th:value="*{nickname} ? *{nickname} : ''">
              <div class="nickname-error" th:errors="*{nickname}">닉네임 에러</div>
            </div>
            <div class="blog-description">
              <div class="description">* 블로그 설명 </div>
              <textarea th:field="*{description}"
                        th:text="*{description} ? *{description} : ''">블로그 설명</textarea>
            </div>

            <div class="button">
              <button class="btn blog-btn">설정</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>


  <!-- FOOTER -->
  <div th:replace="~{fragment/footer :: blogFooter}"></div>


  <script th:inline="javascript">
    let error = [[${param.error}]];

    window.onload = function() {
      if (error[0] === 'blog') {
        alert('블로그명 및 닉네임을 등록 후 사용해주세요.')
        return;
      }
    }
  </script>
</body>
</html>