<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragment/head :: otherHead('/css/mypage-category.css')}">

</head>
<body>
  <!-- HEADER -->
  <div th:replace="~{/fragment/header :: blogHeader}"></div>


  <div class="mypage">
    <div class="inner">
      <div th:replace="~{/fragment/menu :: subMenu}"></div>
  
      <div class="part">
        <div class="first">
          <div class="total">
            <span>* 카테고리 관리</span>
          </div>
          
        </div>

        <div class="second">
          <div class="category-list">
            <div class="category">
              <div class="name">Spring</div>
              <span>(10)</span>
            </div>
            <div class="manage">
              <div class="modify">
                <button type="button">수정</button>
              </div>
              <div class="delete">
                <button type="button">삭제</button>
              </div>
            </div>
          </div>

          <div class="category-list">
            <div class="category">
              <div class="name">Spring</div>
              <span>(10)</span>
            </div>
            <div class="manage">
              <div class="modify">
                <button type="button">수정</button>
              </div>
              <div class="delete">
                <button type="button">삭제</button>
              </div>
            </div>
          </div>

          <div class="category-list">
            <div class="category">
              <div class="name">Spring</div>
              <span>(10)</span>
            </div>
            <div class="manage">
              <div class="modify">
                <button type="button">수정</button>
              </div>
              <div class="delete">
                <button type="button">삭제</button>
              </div>
            </div>
          </div>
        </div>

        <div class="third">
          <div class="apply">
            <input type="text" class="content">
            <input type="button" value="취소" class="cancel">
            <input type="button" value="확인" class="ok">
          </div>

          <div class="apply-btn">
            <button type="button">+ 카테고리 추가</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- FOOTER -->
  <div th:replace="~{/fragment/footer :: blogFooter}"></div>

</body>
</html>