<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragment/head :: otherHead('/css/mypage-write.css')}">

</head>
<body>
  <!-- HEADER -->
  <div th:replace="~{/fragment/header :: blogHeader}"></div>


  <div class="mypage">
    <div class="inner">
      <div th:replace="~{/fragment/menu :: subMenu}"></div>
  
      <div class="part">
        <div class="first">
          <div class="total">
            <span>* 글 관리</span>
          </div>
          
          <div class="search">
            <form action="" th:action="@{/user/mypage/post}">
              <input type="text" name="search"/>
              <button>
                <span class="material-icons">search</span>
              </button>
            </form>
          </div>
        </div>

        <div class="second">
          <div class="list" th:each="post : ${posts}">
            <div class="head">
              <div class="category"><span th:text="${post.name}">Spring</span></div>
              <div class="title"><span th:text="${post.title}">[Thymeleaf] 타임리프 정리</span></div>
            </div>

            <div class="sub">
              <div class="writer"><span>RadiantK</span></div>
              <div class="date"><span th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}">2022. 9. 24. 02:41</span></div>
              <div class="modify"><a href="" th:href="@{/blog/{postId}/edit (postId=${post.id})}">수정</a></div>
              <div class="delete"><a href="" th:href="@{/blog/{postId}/remove (postId=${post.id})}">삭제</a></div>
            </div>
          </div>


          <div class="page" th:if="${!posts.isEmpty()}">
            <div class="material-icons" th:if="${pagination.startPage > 1}">
              <a href="" th:href="@{/user/mypage/post(page=${pagination.startPage - 1}, search=${search})}">first_page</a>
            </div>
            <div class="material-icons" th:if="${pagination.startPage <= 1}">
              <span style="cursor: pointer" onclick="alert('이전 페이지가 없습니다.')">first_page</span>
            </div>

            <ul>
              <li th:each="page : ${#numbers.sequence(pagination.startPage, pagination.endPage)}">
                <a href="javascript:void(0)"
                   th:href="@{/user/mypage/post(page=${page}, search=${search})}"
                   th:text="${page}"
                   th:classappend="${page == pagination.page} ? 'blue' : ''">
                  1
                </a>
              </li>

            </ul>
            <div class="material-icons" th:if="${pagination.startPage + 5 <= pagination.totalPage}">
              <a href="" th:href="@{/user/mypage/post(page=${pagination.endPage + 1}, search=${search})}">last_page</a>
            </div>
            <div class="material-icons" th:if="${pagination.startPage + 5 > pagination.totalPage}">
              <span style="cursor: pointer" onclick="alert('다음 페이지가 없습니다.')">last_page</span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


  <!-- FOOTER -->
  <div th:replace="~{/fragment/footer :: blogFooter}"></div>

</body>
</html>