<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<footer th:fragment="blogFooter">
    <div class="inner">
        <ul class="menu">
            <li><a href="javascript:void(0)" class="violet">개인정보처리방침</a></li>
            <li><a href="javascript:void(0)">Email 수집거부정책</a></li>
            <li><a href="javascript:void(0)">홈페이지 이용약관</a></li>
            <li><a href="javascript:void(0)">API 이용약관</a></li>
            <li><a href="javascript:void(0)">공지사항</a></li>
            <li><a href="javascript:void(0)">고객센터</a></li>
        </ul>

        <div class="info">
            <span>GitHub: github.com/radiantk</span>
            <span>(주) MyLog 관리자 </span>
            <span>개인정보 책임자 : RadiantK</span>
        </div>

        <p class="content">
            자신의 블로그를 작성하며 내가 가지고 있는 지식, 정보와 다른 사람들의 정보와 지식을 나누고 이야기해보세요.
        </p>
        <p class="copyright">
            &copy; <span class="this-year"></span> RadiantK
        </p>
        <div class="logo" >MyLog</div>
    </div>
</footer>

</body>
</html>