<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <div class="management" th:fragment="subMenu">
        <div class="title">
            <a href="/templates/mypage/main.html"
            th:href="@{/user/mypage}">
                블로그 관리
            </a>
        </div>
        <ul class="menu">
            <li>
                <a href="" th:href="@{/blog/register}">글 쓰기</a>
            </li>
            <li>
                <a href="" th:href="@{/user/mypage/post}">글 관리</a>
            </li>
            <li>
                <a href="" th:href="@{/user/mypage/category}">카테고리 관리</a>
            </li>
            <li>
                <a href="" th:href="@{/user/mypage/blog}">블로그 관리</a>
            </li>
            <li>
                <a href="" th:href="@{/user/mypage/edit}">정보 수정</a>
            </li>
            <li>
                <a href="" th:href="@{/user/mypage/withdraw}">회원 탈퇴</a>
            </li>
        </ul>
    </div>
</body>
</html>