.find-id {
  margin-top: 150px;
}
.find-id .inner {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
}
.find-id .inner .title {
  margin: 50px 0;
  text-align: center;
}
.find-id .inner .title h2 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 10px;
}
.find-id .inner .title span {
  font-size: 17px;
  color: rgba(51, 51, 51, 0.9);
}
.find-id .inner .find {
  width: 700px;
  margin: 20px auto;
  display: flex;
}
.find-id .inner .find .choose {
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  padding: 0;
}
.find-id .inner .find .choose li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.find-id .inner .find .choose li a {
  text-decoration: none;
  display: block;
  padding: 20px 50px;
}
.find-id .inner .find .choose:first-child li {
  border: 1px solid #826D5E;
  border-bottom: none;
}
.find-id .inner .find .choose:first-child li a {
  color: #826D5E;
}
.find-id .inner .find .choose:last-child li {
  border-bottom: 1px solid #826D5E;
}
.find-id .inner .find .choose:last-child li a {
  color: #333;
}
.find-id .inner form input:focus {
  outline: 2px solid #826D5E;
}
.find-id .inner form .info {
  width: 700px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.find-id .inner form .info > div {
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(130, 109, 94, 0.3);
  position: relative;
}
.find-id .inner form .info > div .help {
  position: relative;
  left: 21%;
  color: #FF0000;
  margin-bottom: 10px;
}
.find-id .inner form .info > div:last-child {
  border: none;
}
.find-id .inner form .info label {
  display: inline-block;
  width: 20.5%;
  font-size: 24px;
}
.find-id .inner form .info input[type=text] {
  width: 75%;
  height: 60px;
  font-size: 24px;
  padding: 10px;
  color: #333;
  margin-bottom: 3px;
}
.find-id .inner form .info .explain {
  margin-top: 30px;
}
.find-id .inner form .info .email {
  border-bottom: none;
  margin-bottom: 50px;
}
.find-id .inner form .info .info-btn {
  width: 700px;
  display: flex;
  margin: 0 auto 100px;
  padding: 0;
}
.find-id .inner form .info .info-btn button {
  width: 100%;
  height: 65px;
  font-size: 24px;
  border: none;
  background-color: #826D5E;
  color: #fff;
}
.find-id .inner form .info .info-btn button:hover {
  opacity: 0.9;
}