.join-all {
  margin-top: 200px;
}
.join-all .inner {
  position: relative;
}
.join-all .inner .title {
  text-align: center;
  margin: 50px 0 40px;
}
.join-all .inner .title span {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 3px;
}


.join-all .regist {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.join-all .regist .box {
  font-size: 1.4rem;
  width: 180px;
  height: 60px;
  margin-right: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #777;
  box-sizing: border-box;
  position: relative;
}
.join-all .regist .box.active {
  background-color: #826D5E;
  color: #fff;
}
.join-all .regist .box:last-child {
  margin-right: 0;
}

.join-all .line {
  width: 700px;
  height: 3px;
  margin: 0 auto 100px;
  background-color: #000;
  position: relative;
}
.join-all .line .step {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  border: 2px solid #826D5E;
  background-color: #fff;
}
.join-all .line .step.active {
  background-color: #826D5E;
}
.join-all .line .step:nth-child(1) {
  top: -10px;
  left: 80px;
}
.join-all .line .step:nth-child(2) {
  top: -10px;
  left: calc(50% - 10px);
}
.join-all .line .step:nth-child(3) {
  top: -10px;
  right: 80px;
}


.join-all .inner form .join {
  width: 700px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.join-all .inner form .join > div {
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(130, 109, 94, 0.3);
  position: relative;
}
.join-all .inner form .join > div .help {
  position: relative;
  left: 21%;
  color: #FF0000;
  margin-bottom: 10px;
}
.join-all .inner form .join > div:last-child {
  border: none;
}
.join-all form .join label {
  display: inline-block;
  width: 20%;
  font-size: 20px;
}
.join-all .inner form .join input[type=text],
.join-all .inner form .join input[type=password] {
  width: 75%;
  height: 50px;
  font-size: 20px;
  padding: 10px;
  color: #333;
  margin-bottom: 3px;
}
.join-all .inner form .join .authentication {
  display: none;
}
.join-all .inner form .join .emailInput input,
.join-all .join .authentication input {
  width: 50%;
  margin-right: 12px;
}
.join-all form .join .emailInput button,
 .join-all form .join .authentication button {
  width: 23%;
  height: 73px;
  border: none;
  background-color: #826D5E;
  color: #fff;
  position: absolute;
  font-size: 20px;
  top: 0;
  right: 6px;
}
.join-all .inner form .join .genderInput label{
  margin-bottom: 10px;
}
.join-all .inner form .join .genderInput input {
  margin-right: 20px;
  width: 15px;
  height: 15px;
  outline: none;
}
.join-all .inner form .join .address {
  position: relative;
  height: 250px;
  border: none;
}
.join-all .inner form .join .address #postcode {
  width: 35%;
  margin-right: 70px;
  margin-bottom: 10px;
}
.join-all .inner form .join .address button {
  width: 29%;
  height: 73px;
  border: none;
  background-color: #826D5E;
  color: #fff;
  font-size: 20px;
}
.join-all .inner form .join .address input#street {
  margin-left: 144px;
}
.join-all .inner form .join .address #detail {
  margin-left: 144px;
}
.join-all .inner form .join .join-btn {
  width: 700px;
  display: flex;
  margin: 80px auto 100px;
  padding: 0;
}
.join-all .inner form .join .join-btn button {
  width: 100%;
  height: 65px;
  font-size: 24px;
  border: none;
}
.join-all .inner form .join .join-btn button:first-child {
  margin-right: 15px;
  background-color: #b1b1b1;
  color: #fff;
}
.join-all .inner form .join .join-btn button:last-child {
  background-color: #826D5E;
  color: #fff;
}
.join-all .inner form .join .join-btn button:hover {
  opacity: 0.9;
}